* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background: #ffffff;   /* サイト背景は白 */
  color: #000000;        /* 文字は黒 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  gap: 20px;
}

canvas {
  width: 90vmin;
  height: 90vmin;
  max-width: 600px;
  max-height: 600px;
}

.controls {
  padding: 28px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 20px;
  box-shadow:
    0 15px 40px rgba(0,0,0,0.12),
    inset 0 2px 5px rgba(255,255,255,0.8);
  min-width: 260px;
}

#result {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;

  min-height: 2.5rem;
  line-height: 2.5rem;
}

.history {
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 6px;
  font-size: 1.2rem;
  min-height:40px;

  padding: 4px 6px;   /* ← 追加 */

  overflow-x: auto;
  white-space: nowrap;
}

.history-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;      /* ← 横幅固定 */
  height: 32px;     /* 高さ固定 */
  margin: 5px;

  font-weight: bold;
  font-size: 1rem;

  background: #fff;
}

button {
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(145deg, #222, #000);
  color: white;
  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

select {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
}

/* PCレイアウト */
@media (min-width: 900px) {
  .container {
    flex-direction: row;
    gap: 60px;
  }

  canvas {
    width: 550px;
    height: 550px;
  }

  .controls {
    min-width: 320px;
  }

}







